.multiple-prod-wrap {
    display: flex;
    width: 90dvw;
    border-radius: 5px;
    background-color: goldenrod;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5dvw;
    padding: 7.5vh 2vw;
}
.multiple-prod-card {
    display: flex;
    padding: 0 1.5vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50dvh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.multiple-prod-card img {
    width: 15vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 5px;
}
.multiple-prod-card p {
    font-weight: 500;
    font-size: 19px;
    margin: 0;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .multiple-prod-card {
        width: 200px;
        height: 40vh;
    }
    .multiple-prod-card img {
        width: 150px;
        height: 20vh
    }
    .multiple-prod-card p {
        font-size: 18px;
        font-weight: 500;
    }
}
@media screen and (max-width: 500px) {
    .multiple-prod-card {
        width: 150px;
        height: 30vh;
    }
    .multiple-prod-card img {
        width: 130px;
        height: 15vh;
    }
    .multiple-prod-card p {
        font-size: 12px;
        font-weight: 500;
    }
    .check-out-btn {
        font-size: 10px;
        width: 70px;
        height: 30px;
    }
}