.product-wrapper-cont {
    background-color: goldenrod;
    width: 90%;
    padding: 5vh 0;
    border-radius: 10px;
    color: black;
}
.product-container-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5dvw;
}
.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70dvh;
    gap: 5%;
    padding-left: 2.5vw;
}
.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70dvh;
    gap: 10%;
    padding-bottom: 5dvh;
    padding-right: 2.5dvw;
}
.rating-price-cont {
    width: 100%;
    height: 25dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}
.rating-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stock {
    display: flex;
    align-items: center;
    gap: 1dvw;
}
.buy-cont {
    display: flex;
    width: 100%;
    height: 10dvh;
    justify-content: center;
    align-items: center;
    gap: 1dvw;
}
.details-cont {
    width: 100%;
    display: flex;
    place-content: center;
    background-color: rgba(255, 217, 0, 0.211);
    border-radius: 10px;
}
.product-details {
    width: 100%;
    gap: 2dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.product-detail {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10dvw;
}
.product-detail p {
    width: 40%;
}
.product-photo-cont {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
}
.product-photo-cont img {
    object-fit: cover;
    border-radius: 10px;
    width: auto;
    height: 100%;
}
.detail-categ {
    text-align: left;
}
.detail-value {
    text-align: right;
}
.product-title {
    text-align: center;
    width: 100%;
}
h1 {
    font-size: 1.563rem;
    font-weight: bold;
}
p {
    font-size: 1.125rem;
}
@media screen and (max-width: 900px) {
    .buy-cont {
        flex-direction: column;
        justify-content: space-between;
    }
}
@media screen and (max-width: 500px) {
    .product-container-wrapper {
        flex-direction: column;
    }
    .product-container {
        width: 100%;
        height: 50dvh;
        padding-left: 0;
    }
    .product-details-container {
        width: 100%;
        justify-content: center;
        height: 55dvh;
        padding-right: 0;
    }
    .product-details {
        padding: 0;
    }
    .details-cont {
        width: 85%;
    }
}