.cart-preview-container{
    display: none;
    font-family: 'Roboto';
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 16;
    width: 35dvw;
    height: 50vh;
    background-color: #2c2c2c;
    border: 5px solid rgb(87, 87, 87);
    border-radius: 5px;
    margin-top: 5px;
    right: 0;
    top: 10vh;
    overflow: auto;
}
.cart-preview-cart {
    width: 100%;
}
.cart-preview{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
}
.cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18vh;
    border-radius: 25px;
}
.cart-item:hover {
    animation-name: search-result-selecting;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.cart-item-details {
    width: 60%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}
.cart-item img {
    min-width: 10vw;
    cursor: pointer;
    min-height: 15vh;
    max-width: 10vw;
    max-height: 15vh;
    object-fit: cover;
    border-radius: 10px;
}
.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-top: 5px solid rgb(87, 87, 87);
    background-color: #2c2c2c;
    margin-top: 5px;
}

@media screen and (max-width: 1000px) {
    .cart-preview-container{
        width: 75vw;
        height: 50vh;
    }
    .cart-details p{
        font-size: 1.5rem;
    }
    .cart-item img {
        min-width: 20vw;
        min-height: 15vh;
        max-width: 20vw;
        max-height: 15vh;
    }

}
@media screen and (max-width: 500px) {
    .cart-item-details p{
        font-size: 1rem;
    }
    .cart-item img {
        min-width: 20vw;
        min-height: 15vh;
        max-width: 20vw;
        max-height: 15vh;
    }
}