.rec-cont {
    width: 75%;
}
.rec-item-wrapper{
    background-color: rgb(230, 230, 230);
    height: 50vh;
    padding: 2%;
    width: 100%;
}
.rec-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    height: 100%;
}
.rec-item-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    gap: 1%;
}
.rec-item-upper img{
    height: 30vh;
    width: 100%;
}

