.rec-cont {
    height: 80vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rec-item{
    background-color: gray;
    height: 50vh;
    padding: 5%;
    width: 100%;
}
.rec-item img{
    height: 80%;
    width: 100%;
}