/* Fonts */
@font-face {
  font-family: 'Lessti';
  src: url(./fonts/Lessti-Regular.ttf);
}
@font-face {
  font-family: 'Black Vintage';
  src: url(./fonts/Black\ Vintage\ demo.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf);
}

#root {
  display: flex;
  background-color: black;
  color: gold;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}