/* Fonts */
@font-face {
  font-family: 'Lessti';
  src: url(./fonts/Lessti-Regular.ttf);
}
@font-face {
  font-family: 'Black Vintage';
  src: url(./fonts/Black\ Vintage\ demo.ttf);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}