nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 15;
    width: 100%;
    font-family: 'Black Vintage';
    font-size: 18px;
    background-color: black;
}
.nav-upper {
    padding: 1% 4% 0 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: 'Lessti';
    color: goldenrod;
    font-size: 4rem;
    user-select: none;
    line-height: 1;
}
.nav-icon {
    color: gold;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon:hover {
    animation-name: icon-pulse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
    font-variation-settings: 
    'FILL' 1;
}
.nav-utilities {
    display: flex;
    align-items: center;
}
.nav-utilities > div span {
    margin: 0 1vw;
}
.search-bar{
    display: flex;
    align-items: center;
    background-color: #8080804f;
    color: gold;
    border-radius: 4px;
    border: 0.3rem solid rgb(87, 87, 87);
    padding: 1% 0 1% 2%;
    width: 25rem;
    margin-right: 5%;
}
.search-bar input {
    background-color: transparent;
    outline: none;
    padding-right: 5%;
    width: 90%;
    font-size: 22px;
}
.cart-container{
    display: flex;
    justify-content: flex-end;
    padding: 0 1%;
}
.cart-container:hover{
    animation-name: icon-pulse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.cart-container div{
    background-color: gold;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    user-select: none;
}
.cart-container span:hover {
    animation: none;
}
.nav-lower{
    width: 100%;
    padding: 1% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-lower-mobile {
    display: none;
}
.primary-categ {
    width: 100%;
}
.primary-categ img {
    display: none;
}
.primary-categ ul{
    color: gold;
}
.second-categ {
    width: 100%;
}
.second-categ ul {
    background-color: gold;
}
.nav-lower ul {
    padding: 0.8% 0;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    .nav-upper {
        justify-content: space-between;
        padding: 1% 5.5% 1.5% 3%;
    }
    .search-bar {
        display: none;
    }
    .nav-lower-mobile {
        width: 100%;
        color: gold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 4% 1% 4%;
        z-index: 2;
    }
    .nav-mobile-menu {
        gap: 10%;
        display: flex;
        justify-content: inherit;
        align-items: center;
        font-size: 30px;
    }
    .nav-mobile-utilities {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .nav-mobile-search-cont{
        visibility: hidden;
        margin-right: 2%;
    }
    .nav-mobile-search-cont input {
        width: 40vw;
        background-color: gray;
        border-radius: 4px;
        border: 0.3rem solid rgb(87, 87, 87);
        padding: 1% 0 1% 2%;
        font-size: 1rem;
        width: 40vw;
        outline: none;
    }
    .search-icon-mobile {
        font-size: 40px;
    }
    .search-icon-mobile:hover {
        animation-name: icon-pulse;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        cursor: pointer;
        font-variation-settings: 
        'FILL' 1;
    }
    .nav-lower {
        display: none;
        width: 100%;
        padding: 2% 5%;
        background-color: black;
        top: 16vh;
        z-index: 1;
        margin-top: 2%;
        height: 85vh;
        position: absolute;
    }
    .primary-categ ul{
        flex-direction: column;
        height: 80vh;
        overflow: scroll;
        justify-content: flex-start;
    }
    .primary-categ li{
        display: flex;
        align-items: center;
        gap: 5%;
    }
    .primary-categ img {
        display: block;
        width: 10vh;
    }
    .second-categ {
        display: none;
    }
    .searchBoxAnimationOn {
        animation-name: fade-in;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .searchBoxAnimationOff {
        animation-name: fade-out;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

@media screen and (max-width: 500px) {
    .nav-lower-mobile {
        z-index: 2;
        position: relative;
    }
    .nav-mobile-search-cont input {
        width: 25vw;
    }
    .nav-utilities div > span {
        scale: 0.8;
    }
    .search-icon-mobile{
        scale: 0.8;
    }
    .search-icon-mobile:hover {
        animation: icon-pulse-small;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        
    }
    .nav-lower {
        z-index: 1;
        height: 88vh;
        position: absolute;
    }
    .primary-categ ul{
        height: 83vh;
    }
}

@keyframes icon-pulse {
    100% {
        scale: 1.2;
    }
}
@keyframes icon-pulse-small {
    100% {scale: 0.9}
}
@keyframes fade-in {
    0% {
        scale: 0.01;
    }
    100% {
        visibility: visible;
    }
}
@keyframes fade-out {
    0% {
        scale: 1;
        visibility: visible;
    }
    100% {
        scale: 0.01;
        visibility: hidden;
    }
}