nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 15;
    width: 100%;
    font-family: 'Black Vintage';
    font-size: 18px;
}
.nav-upper {
    padding: 1% 4% 0 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: 'Lessti';
    color: goldenrod;
    font-size: 4rem;
    user-select: none;
    line-height: 1;
}
.nav-icon {
    color: gold;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon:hover {
    animation-name: icon-pulse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
    font-variation-settings: 
    'FILL' 1;
}
.nav-utilities {
    display: flex;
    align-items: center;
}
.nav-utilities > div span {
    margin: 0 1vw;
}
.search-bar{
    display: flex;
    font-family: 'Roboto';
    align-items: center;
    background-color: #8080804f;
    color: gold;
    border-radius: 4px;
    border: 0.3rem solid rgb(87, 87, 87);
    padding: 1% 0 1% 2%;
    width: 25rem;
    margin-right: 5%;
}
.search-bar input {
    background-color: transparent;
    outline: none;
    padding-right: 5%;
    width: 90%;
    font-size: 22px;
}
.cart-container{
    display: flex;
    justify-content: flex-end;
}
.cart-container:hover{
    animation-name: icon-pulse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.cart-container div{
    background-color: gold;
    color: black;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    user-select: none;
}
.cart-container span:hover {
    animation: none;
}
.nav-lower{
    width: 75%;
    padding: 2% 0 0 0;
}
.nav-lower-mobile {
    display: none;
}
.nav-mobile-search-cont {
    display: none;
}
.primary-categ img {
    display: none;
}
.primary-categ ul{
    color: gold;
    border: 3px solid gold;
    border-radius: 5px;
    border-bottom: none;
}
.primary-categ-item {
    background-color: black;
    padding: 1% 0 ;
    width: calc(75vw / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.primary-categ-item:hover {
    cursor: pointer;
    animation-name: primary-categ-selecting;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.second-categ {
    position: absolute;
    width: 75%;
}
.second-categ ul {
    background-color: gold;
    border: 3px solid black;
    border-top: none;
    border-radius: 5px;
}
.secondary-categ-item {
    background-color: gold;
    padding: 0.5% 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondary-categ-item img {
    display: none;
}
.three-categs {
    width: calc(75vw / 3);
}
.two-categs {
    width: calc(75vw / 2);
}
.seven-categs {
    width: calc(75vw / 7);
}
.secondary-categ-item:hover {
    cursor: pointer;
    animation-name: secondary-categ-selecting;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.second-categ ul {
    color: black;
}
.nav-lower ul {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
    .nav-upper {
        justify-content: space-between;
        padding: 1% 5.5% 1.5% 3%;
        height: 10dvh;
    }
    .logo-cont {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .search-bar {
        display: none;
    }
    .nav-lower-mobile {
        height: 8dvh;
        width: 100%;
        color: gold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 4% 1% 4%;
        z-index: 2;
    }
    .nav-mobile-menu {
        gap: 10%;
        display: flex;
        justify-content: inherit;
        align-items: center;
        font-size: 30px;
    }
    .nav-mobile-utilities {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .nav-mobile-search-cont{
        width: 100%;
        justify-content: center;
        padding: 2% 2% 3% 2%;
        display: none;
        z-index: 1;
        position: absolute;
        top: 100%;
        background-color: black;
    }
    .nav-mobile-search-cont input {
        width: 90%;
        background-color: gray;
        border-radius: 4px;
        border: 0.3rem solid rgb(87, 87, 87);
        padding: 1% 0 1% 2%;
        font-size: 1rem;
        outline: none;
    }
    .search-icon-mobile {
        font-size: 40px;
    }
    .search-icon-mobile:hover {
        animation-name: icon-pulse;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        cursor: pointer;
        font-variation-settings: 
        'FILL' 1;
    }
    .nav-lower {
        display: none;
        width: 100%;
        background-color: black;
        top: 18dvh;
        z-index: 1;
        height: 82dvh;
        position: absolute;
    }
    .primary-categ ul{
        position: absolute;
        z-index: 2;
        border: none;
        width: 100%;
        flex-direction: column;
        height: 80dvh;
        overflow: scroll;
        justify-content: flex-start;
    }
    .primary-categ-item {
        width: 95%;
        justify-content: flex-start;
        padding: 2%;
        margin: 2%;
        border-radius: 10px;
        font-size: 30px;
    }
    .primary-categ li{
        display: flex;
        width: 100%;
        align-items: center;
        gap: 5%;
        margin: 2% 0;
    }
    .primary-categ img {
        display: block;
        width: 15vw;
        border-radius: 10px;
    }
    .second-categ {
        width: 100%;
        height: inherit;
    }
    .second-categ ul {
        background-color: black;
        display: none;
        align-items: center;
        position: absolute;
        z-index: 2;
        border: none;
        width: 100%;
        flex-direction: column;
        height: 100%;
        overflow: scroll;
        justify-content: flex-start;
    }
    .secondary-categ-item {
        background-color: inherit;
        color: gold;
        width: 95%;
        justify-content: flex-start;
        padding: 2%;
        margin: 2% 0;
        border-radius: 10px;
        font-size: 30px;
    }
    .secondary-categ-item:hover {
        animation-name: primary-categ-selecting;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    .second-categ li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 5%;
    }
    .second-categ img {
        display: block;
        object-fit: cover;
        width: 15vw;
        border-radius: 10px;
    }
    .primary-categ {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .nav-lower-mobile {
        z-index: 2;
        position: relative;
    }
    .nav-utilities div > span {
        scale: 0.8;
    }
    .search-icon-mobile{
        scale: 0.8;
    }
    .search-icon-mobile:hover {
        animation: icon-pulse-small;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        
    }
    .primary-categ img {
        width: 25svw;
    }
    .second-categ img {
        width: 25svw;
        height: 20svh;
    }
}

@keyframes icon-pulse {
    100% {
        scale: 1.2;
    }
}
@keyframes icon-pulse-small {
    100% {scale: 0.9}
}
@keyframes primary-categ-selecting {
    100% {
        background-color: gold;
        color: black;
    }
}
@keyframes secondary-categ-selecting {
    100% {
        background-color: black;
        color: gold;
    }
}