nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 15;
    width: 100%;
    font-family: 'Black Vintage';
    font-size: 18px;
}
.nav-upper {
    padding: 1% 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25%;
}
.logo {
    font-family: 'Lessti';
    color: goldenrod;
    font-size: 4rem;
    user-select: none;
}
.nav-icon {
    color: gold;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon:hover {
    animation-name: icon-pulse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
    font-variation-settings: 
    'FILL' 1;
}
.nav-utilities {
    display: flex;
    width: 30%;
    align-items: center;
    gap: 5%;
}
.search-bar{
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 4px;
    border: 0.3rem solid rgb(87, 87, 87);
    padding: 1% 2% 1% 5%;
}
.search-bar input {
    background-color: transparent;
    outline: none;
    padding-right: 5%;
}
.cart-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cart-container:hover{
    animation-name: icon-pulse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.cart-container div{
    align-self: flex-start;
    margin-left: auto;
    background-color: gold;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
}
.cart-container span{
    z-index: 1;
    padding: 0 0.5rem 0 0;
}
.cart-container span:hover {
    animation: none;
}
.nav-lower{
    width: 75%;
    padding: 1% 0 0 0;
    background-color: transparent;
}
.primary-categ{
    color: white;
    position: relative;
}
.second-categ {
    position: absolute;
    width: 75%;
}
.nav-lower ul {
    padding: 0.5% 0;
    display: flex;
    color: white;
    justify-content: space-around;
}
.primary-categ ul{
    color: gold;
}
.second-categ ul {
    color: black;
    background-color: gold;
}
@keyframes icon-pulse {
    100% {
        scale: 1.2;
    }
}