.banner-cont {
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    background-size: cover;
}
.whisky-banner{
    background-image: url('../../images/spirits-cover.jpg');
    background-position: center;
    background-position: top 30% right 25%;
}
.wines-banner{
    background-image: url('../../images/wine-cover.jpg');
    background-position: top 60% right 25%;
}
.champagne-banner{
    background-image: url('../../images/champagne-cover.jpg');
    background-position: top 50% right 25%;
}
.banner-promo {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Black Vintage';
    background: linear-gradient(0deg, rgba(237, 171, 18, 0.738) 0%, rgba(252, 181, 15, 0.879) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    font-size: large;
}
.truck {
    font-variation-settings: 
    'wght' 300
}

@media screen and (max-width: 1000px) {
    .banner-cont{
        height: 60vh;
    }
    .banner-cont > *{
        object-fit: scale-down;
    }
}
@media screen and (max-width: 750px) {
    .banner-promo{
        height: 10%;
    }
}